* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* task-1 */

.box {
  border-radius: 8px;
  padding: 24px;
  width: 440px;
  height: 888px;
  background-color: #fff;
}

.item {
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  max-height: 312px;
  background-color: #f6f6fe;
  margin-bottom: 24px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.categories-item {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
}

/* task-4 */

.login-form {
  display: flex;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  max-height: 256px;
  flex-wrap: wrap;
  gap: 8px;
  background-color: #fff;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  max-height: 40px;
  padding: 8px 16px;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:hover,
.input:focus {
  border: 1px solid #000;
}

.btn {
  border: none;
  border-radius: 8px;
  width: 86px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #6c8cff;
}

/* task-5 */

.widget {
  border-radius: 8px;
  padding: 100px 88px;
  width: 345px;
  height: 280px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.change-color {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  max-height: 40px;
  border: none;
  background-color: #4e75ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-color:hover,
.change-color:focus {
  background-color: #6c8cff;
}

/* task-6 */

#controls {
  display: flex;
  align-items: center;
  gap: 16px;
}

.input-controls {
  border: 1px solid #808080;
  border-radius: 8px;
  width: 150px;
  height: 40px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.input-controls:hover,
.input-controls:focus {
  border: 1px solid #000;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-create {
  background-color: #4e75ff;
}

.btn-create:hover,
.btn-create:focus {
  background-color: #6c8cff;
}

.button {
  border-radius: 8px;
  width: 120px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.btn-create {
  background-color: #4e75ff;
}

.btn-create:hover,
.btn-create:focus {
  background-color: #6c8cff;
}

.btn-destroy {
  background-color: #ff4e4e;
}

.btn-destroy:hover,
.btn-destroy:focus {
  background-color: #ff7070;
}
