ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery {
  width: 1128px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.gallery-item {
  flex-basis: calc(33.333% - 24px);
  transition: transform 0.3s;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
}

.gallery-item:hover {
  transform: scale(1.05);
}
